.main {
    /* min-height: 100vh; */
    flex: 1;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    max-width: 50vw;
    /* gap: 1.5rem; */
    margin: 0 auto;
    justify-content: center;
    padding-top: 3rem;
}

.main a {
    padding: 25px;
    /* border: 1px solid white; */
    /* border-radius: 16px; */
    transition: 0.5s ease;
    height: 185px;

    &:hover {
        border-color: red;
        color: red;
    }
}

.blogItem {
    cursor: pointer;
    margin-bottom: 35px;
}

.blogItemh3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.blogItemP {
    max-width: 45vw;
    font-size: 0.85rem;
}

@media only screen and (max-width: 426px) {
    .main {
        max-width: 75vw;
        padding-top: 2rem;
    }

    .blogItem {
        margin-bottom: 10px;
    }

    .blogItemP {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 321px) {
    .main {
        max-width: 85vw;
    }
    .blogItemh3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
}