.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.container {
    padding: 0 22rem;
}

.Blogh1 {
    margin-bottom: 25px;
}

@media only screen and (max-width: 1025px) {
    .container {
        padding: 0 10rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 426px) {
    .container {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 321px) {
    .container {
        padding: 0 2rem;
    }
}